<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="deploy/css/styles.css" />
    </head>
    <body>

        <div class="content"></div>

        <script type="text/template" id="list-template">
            <div class="section-title">
                <h2>Exercise 3 Vocabulary</h2>
                <h3>Label the weather symbols.</h3>
            </div>

            <form id="formAnswers">
                <ul id="list">
                    <% _.each(data, function (item) { %>
                    <li class="ex-item">
                        <p style="float: left"><%- item.isValid %></p>
                        <img src="<%- item.pict %>" alt="icon" />
                        <input type="text" name="inputAnswer" value="<%- item.name %>" />
                    </li>
                    <% }); %>
                </ul>
            </form>

            <div class="hint">
                <div class="hint-content ex1">
                    <% _.each(data, function (item) { %>
                        <p><%- item.answer %></p>
                    <% }); %>
                </div>
            </div>

            <button>Check</button>
        </script>

        <script type="text/javascript" src="deploy/js/main.js"></script>
    </body>
</html>
